@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: normal;
  src: local('Trebuchet MS'), url('/fonts/trebuc.woff') format('woff');
}

@font-face {
  font-family: 'Trebuchet MS Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Trebuchet MS Italic'),
    url('/fonts/Trebuchet-MS-Italic.woff') format('woff');
}
