@import url('fonts.css');

:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
}

.heading {
  font-family: Trebuchet MS Italic;
  font-size: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
td {
  padding: 8px;
  border: none; /* Remove borders */
}
.product {
  text-align: left;
}
.filler {
  text-align: center;
}
.price {
  text-align: right;
}
.Menu {
  white-space: nowrap;
  width: 300px;
}

.links {
  color: white;
  display: block;
  text-align: right;
  padding: 12px;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
  text-decoration-color: rgb(206, 106, 97);
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  color: white;
}

.invisible {
  display: none;
}

a {
  color: rgb(206, 106, 97);
}
a:hover {
  color: #d93030;
}

.info-section {
  display: flex;
}

.background-image {
  width: 45%;
  height: auto;
  display: flex;
  background-color: #d93030;
  align-items: center;
  justify-content: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text-content {
  /* flex: 1 1 auto; */
  line-height: 2;
  text-align: justify;
  width: 55%;
  padding: 20px;
}

.text-inner {
  padding: 50px;
}

.icons-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.background-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.mobile-logo {
  display: none;
}

.mobile-menu-div {
  display: none;
}

.review-div {
  background-color: black;
  padding: 50px;
  display: flex;
  min-height: 700px;
  line-height: 2;
  text-align: justify;
  align-items: center;
  justify-content: center;
}

.review-text {
  background-color: white;
  padding: 50px;
  width: 50%;
}

.team-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 80px 50px 80px;
}

.aneta-img {
  padding: 50px;
}

.aneta-img img {
  width: 100%;
  height: auto;
}

.salon-images {
  display: flex;
  gap: 30px;
  padding: 30px 80px;
  justify-content: space-between;
  width: 100vw;
  box-sizing: border-box;
}

.salon-images img {
  flex: 1;
  max-width: 100%;
  height: auto;
}

.contact-info-div {
  display: flex;
  padding: 50px;
}

.team-text {
  padding: 50px;
  line-height: 2;
  text-align: justify;
  width: 50%;
}

.post-inner {
  display: flex;
  flex-direction: column;
  padding: 100px;
  line-height: 2;
  text-align: justify;
}

.image-box-2 {
  display: flex;
  width: 100%;
  margin-top: 10px;
  gap: 10px;
}

.blogposts-nails {
  display: flex;
  /* padding: 20px; */
  gap: 30px;
}

.blog-post {
  border: 2px solid black;
  padding: 10px;
  width: 50%;
  background-color: white;
  color: black;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.responsive-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-title {
  font-size: 20px;
  font-weight: bold;
}

.divider {
  width: 100%;
  text-align: left;
  margin-left: 0;
  height: 1px;
  color: black;
  background-color: black;
}

.blog-paragraph {
  margin-bottom: 10px;
  text-align: left;
}

.manicure-text {
  background-color: black;
  color: white;
  padding: 40px;
  line-height: 2;
  text-align: justify;
  width: 60%;
}

.manicure-div {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  min-height: 1300px;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60vh;
}

.contact-text {
  color: white;
  padding: 50px;
  line-height: 2;
  text-align: justify;
  width: 40%;
}

.contact-adress {
  color: gray;
  padding: 50px;
  line-height: 2;
  text-align: justify;
  width: 40%;
}

.contact-info {
  background-color: white;
  padding: 50px;
  width: 10%;
  display: grid;
}

.blogpost-section {
  background-color: black;
  padding: 50px;
  color: white;
  line-height: 2;
  text-align: justify;
}

.products-div {
  padding: 50px;
  line-height: 2;
  text-align: justify;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 1000px;
}
.image-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.image:hover {
  transform: scale(1.1);
}
.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-background {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
}
.modal-content {
  position: relative;
  width: 90%;
  max-width: 800px;
  height: 90%;
  padding: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 40px;
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: rgb(144, 0, 0);
  z-index: 10;
}

/* Media query for mobile devices */
@media (max-width: 700px) {
  .images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1000px;
  }

  .contact-info {
    width: auto;
    padding: 0;
  }

  .contact-adress {
    width: auto;
    padding: 0;
  }

  .contact-text {
    width: auto;
    padding: 0;
  }

  .header-container {
    height: auto;
  }

  .manicure-text {
    width: auto;
  }

  .blog-post {
    width: 100%;
  }

  .blogposts-nails {
    flex-direction: column;
    padding: 10px !important;
  }

  .image-box-2 {
    flex-direction: column;
  }

  .image-box {
    width: 100%;
    height: auto;
  }
  .post-inner {
    padding: 20px;
  }

  .team-text {
    width: 100%;
    padding: 20px !important;
  }
  .responsive-iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
  }

  .contact-info-div {
    flex-direction: column;
  }

  .salon-images {
    flex-direction: column;
    padding: 30px !important;
  }

  .aneta-img {
    padding: 0;
    width: 100%;
  }
  .team-div {
    flex-direction: column;
    padding: 10px !important;
  }

  .nail-bg {
    display: none;
  }

  .more-clients {
    display: none;
  }
  .review-text {
    padding: 10px;
    width: auto;
  }

  .review-div {
    flex-direction: column;
  }

  .menu-div {
    display: none;
  }

  .mobile-menu-div {
    display: block;
    position: relative;
    background-color: white;
    z-index: 2;
    margin-top: 150px;
  }

  .flag-selection {
    display: block !important; /* Override display property */
  }

  .mobile-logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .background-header {
    display: none;
  }
  .icons-menu {
    display: none;
  }
  .info-section {
    flex-direction: column;
    width: 100%;
  }

  .background-image {
    width: 100%;
    height: auto;
  }

  .text-content {
    width: auto;
    line-height: 2;
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    line-break: strict;
    hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
  }

  .text-inner {
    padding: 10px;
  }
  /* 
  .text-content > p {
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    line-break: strict;
    hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
  } */
}
